  1. [Zensor Installation](https://docs.zeron.one/cyber-risk-posture-management-platform-cprm/zensor-installation)


# Installation Verification
![](https://docs.zeron.one/~gitbook/image?url=https%3A%2F%2F2854935529-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252FvyU3NMiz2Rw6Y9PJdkUQ%252Fuploads%252FLhFsJ8pVc63Dc2oAGGoi%252Fimage-6.png%3Falt%3Dmedia%26token%3D96911121-dd56-4e37-94ea-615be172d2a3&width=768&dpr=4&quality=100&sign=362c5131&sv=2)
You can monitor newly-connected systems here in 5 to 7 minutes or navigate to management then click zensor 
In the ZENSORS box, there is a search button 
Search for the Ip or host-name of the recently connected system 
![](https://docs.zeron.one/~gitbook/image?url=https%3A%2F%2F2854935529-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252FvyU3NMiz2Rw6Y9PJdkUQ%252Fuploads%252FQRoiG9CfsKoY3eGpVrgW%252Fimage-7-cd3e3690adde6581475d547942f9ec08.jpg%3Falt%3Dmedia%26token%3De4c9dc1d-8760-4760-a285-f632a012453d&width=768&dpr=4&quality=100&sign=8850de5f&sv=2)
Click the system to view more
Last updated 4 months ago
Was this helpful?
This site uses cookies to deliver its service and to analyze traffic. By browsing this site, you accept the [privacy policy](https://zeron.one/privacy-policy/).
AcceptReject
